@import "_normalize.scss";
@import "_variables.scss";
@import "_animate.scss";
@import "_sprite.scss";
@import "_aos.scss";



body {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}
.loading {
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #252525;
	z-index: 999;
}

.all-wrapper {
	overflow: hidden;
}

.container {
	max-width: 1500px;
	margin: auto;
	padding: 0 15px;
}

.ie-extra-wrapper {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 670px) {
		display: block;
	}
}

.promo__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: url(../img/top-bg.jpg) top center no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	@media screen and (max-width: 670px) {
		display: block;
		min-height: 1px;
	}
}

.promo__logo {
	position: absolute;
	left: 60px;
	top: 50px;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		transition: $transition;
	}
	&:hover {
		img {
			opacity: .8;
		}
	}
	@media screen and (max-width: 1370px) {
		img {
			max-width: 80%;
		}
		top: 20px;
		left: 10px;
	}
	@media screen and (max-width: 1000px) {
		img {
			max-width: 70%;
		}
	}
	@media screen and (max-width: 670px) {
		img {
			max-width: 60%;
		}
	}
	@media screen and (max-width: 470px) {
		left: 15px;
	}
}



.promo__menu {
	position: absolute;
	top: 96px;
	right: 110px;
	&-link {
		color: #fff;
		font: 300 12px $mont;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		margin-left: 30px;
		transition: $transition;
		&:hover {
			text-decoration: underline;
		}
	}
	@media screen and (max-width: 1370px) {
		top: 40px;
		right: 30px;
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.promo__hello {
	margin: auto;
	text-align: right;
	width: 100%;
	padding-right: 160px;
	@media screen and (max-width: 1370px) {
		padding-right: 110px;
	}
	@media screen and (max-width: 1000px) {
		padding-right: 30px;
	}
	@media screen and (max-width: 670px) {
		padding-top: 250px;
		padding-bottom: 225px;
		padding-left: 20px;
		padding-right: 0;
	}
}

.promo__title {
	font: 900 95px/75px $mont;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: -0.077em;
	margin: 0;
	word-spacing: -7px;
	.colored {
		color: #e97b60;
		display: inline-block;
	}
	&::after {
		content: '';
		display: inline-block;
		height: 68px;
		width: 68px;
		background: url(../img/title-arr.png) left center no-repeat #e97b60;
		margin-left: 12px;
	}
	@media screen and (max-width: 1370px) {
		font: 900 80px/60px $mont;
		&::after {
			height: 57px;
			width: 60px;
		}
	}
	@media screen and (max-width: 1000px) {
		font: 900 65px/50px $mont;
		&::after {
			height: 45px;
			width: 50px;
			background-size: cover;
		}
	}

	@media screen and (max-width: 670px) {
		font: 900 45px/35px $mont;
		word-spacing: 0px;
		text-align: left;
		&::after {
			height: 32px;
			width: 37px;
		}
	}
	@media screen and (max-width: 470px) {
		font: 900 30px/25px $mont;
		&::after {
			height: 21px;
			width: 24px;
		}
	}
}

.promo__subtitle {
	margin: 90px 0 0;
	font: 400 20px $hind;
	color: #fff;
	.delimiter {
		margin: 0 15px;
	}
	@media screen and (max-width: 1370px) {
		font-size: 17px;
		margin: 50px 0 0;
		.delimiter {
			margin: 0 10px;
		}
	}
	@media screen and (max-width: 1000px) {
		font-size: 14px;
	}
	@media screen and (max-width: 670px) {
		margin-top: 20px;
		text-align: left;
		span {
			visibility: hidden;
			display: block;
			height: 2px;
		}
	}
}

#services {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.promo__tabs {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	@media screen and (max-width: 670px) {
		display: none;
	}
}

.promo__mobile--tabs-wrapper {
	display: none;
	position: relative;
	background: url(../img/down-arrow-sel.png) right 10px center no-repeat #252525;
	width: 100%;
	z-index: 9;
	@media screen and (max-width: 670px) {
		display: block;
	}
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
	}
}

.promo__mobile--tabs {
	width: 100%;
	outline: 0;
	border: none;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #fff;
	padding: 20px 40px 20px 15px;
	font: 300 16px $mont;
	cursor: pointer;
	background: transparent;
	&::-ms-expand {
		display: none;
	}
}

.promo__tab {
	width: 20%;
	text-align: center;
	background: #252525;
	min-height: 155px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #000000;
	border-right: 1px solid #323232;
	cursor: pointer;
	transition: $transition;
	&:hover,
	&.active-tab {
		background: #ebebeb;
		span {
			color: #252525;
		}
	}
	span {
		display: block;
		padding: 0 15px;
		color: #e6e6e6;
		font: 300 20px $mont;
	}
	@media screen and (max-width: 1370px) {
		min-height: 100px;
		span {
			font-size: 16px;
		}
	}
	@media screen and (max-width: 670px) {
		width: 100%;
		padding: 15px 0;
		min-height: 1px;
		display: block;
		border: none;
	}
}

.tabs {
	background: url(../img/tabs-bg.png) right center no-repeat #efefef;
	padding: 120px 0 0;
	@media screen and (max-width: 1370px) {
		padding: 70px 0 0;
	}
	@media screen and (max-width: 1000px) {
		background-size: cover;
	}
}

.tab {
	display: none;
	&.is-visible {
		display: block;
	}
}

.tab__title {
	font: 300 30px $mont;
	color: #363636;
	margin: 0 0 30px;
	@media screen and (max-width: 670px) {
		font-size: 25px;
	}
}

.tab__subtitle {
	font: 16px $hind;
	color: #808080;
	max-width: 70%;
	@media screen and (max-width: 670px) {
		max-width: 100%;
	}
}

.tabs__list {
	margin: 90px 0;
	padding: 0;
	list-style-type: none;
	@media screen and (max-width: 1370px) {
		margin: 90px 0 40px;
	}
	@media screen and (max-width: 470px) {
		margin-top: 50px;
	}
}

.tabs__list-item {
	float: left;
	display: block;
	position: relative;
	min-height: 120px;
	margin-bottom: 60px;
	@media screen and (max-width: 670px) {
		width: 100%;
		margin-bottom: 20px;
		float: none;
	}
}

.tabs__list-item--fourth {
	width: 25%;
	.tabs__list-content {
		max-width: 210px;
	}
	@media screen and (max-width: 1000px) {
		width: 50%;
	}
	@media screen and (max-width: 470px) {
		.tabs__list-content {
			max-width: 100%;
			text-align: left;
		}
	}
}

.tabs__list-item--third {
	width: 33.33%;
	.tabs__list-content {
		max-width: 350px;
	}
	@media screen and (max-width: 1370px) {
		padding-right: 20px;
	}
	@media screen and (max-width: 1000px) {
		width: 50%;
	}
	@media screen and (max-width: 670px) {
		padding-right: 0;
		.tabs__list-content {
			max-width: 100%;
		}
	}
}

.tabs__list-icon {
	float: left;
	background-color: #003471;
	background-position: center center;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	background-image: url(../img/tab-list-icon.png);
	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		left: 0;
		top: 0;
		background: rgba(112, 112, 112, .24);
	}
	@media screen and (max-width: 470px) {
		float: none;
		margin: 0 0 10px;
		&::after {
			display: none;
		}
	}
}

.tabs__list-content {
	margin-left: 110px;
	@media screen and (max-width: 470px) {
		margin-left: 0;
	}
}

.tabs__list-heading {
	font: 300 16px/20px $hind;
	color: #000;
}

.tab__subheading {
	font: 700 20px $hind;
	color: #4b4b4b;
	text-transform: uppercase;
	margin-bottom: 0;
}

.tabs__list-txt {
	font: 300 16px/26px $hind;
	color: #808080;
}

.tab__development {
	cursor: pointer;
	text-align: center;
	padding: 50px 0 40px;
	&:hover img {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(0%);
		opacity: 1;
	}
	&::after {
		content: '';
		width: 1px;
		height: 75%;
		position: absolute;
		background: rgba(112, 112, 112, .24);
		right: 0;
		bottom: 0;
	}
	&:last-child::after {
		display: none;
	}
	@media screen and (max-width: 1000px) {
		&:nth-child(2n)::after {
			display: none;
		}
	}
	@media screen and (max-width: 670px) {
		&::after {
			display: none;
		}
	}
}

.tab__development-img {
	height: 320px;
	img {
		transition: $transition;
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
		filter: gray;
		-webkit-filter: grayscale(100%);
		-webkit-backface-visibility: hidden;
		opacity: .5;
	}
}

.tab__development-title {
	color: #000;
	font: 300 22px $hind;
	margin: 0 0 50px;
	text-align: center;
}

.tab__development-full {
	background: #fff;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	padding: 0 50px 50px;
	cursor: default;
	text-align: left;
	@media screen and (max-width: 1200px) {
		padding: 0 20px 20px;
	}
}

.tab__development-full__close {
	position: absolute;
	right: 35px;
	top: 35px;
	background: url(../img/tab-close.png) center center no-repeat;
	width: 23px;
	height: 23px;
	opacity: .5;
	transition: $transition;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.tab__development-full__img {
	max-height: 230px;
	position: relative;
	left: -60px;
	top: -10px;
}

.tab__development-full__title {
	font: 300 22px $hind;
	color: #000;
	margin: 40px 0;
}

.tab__development-full__text {
	font: 300 16px/24px $hind;
	color: #747474;
	margin: 0 0 5px;
}

.tab__development-full__link {
	font: 300 16px $hind;
	color: #e97b60;
	text-decoration: none;
	&::after {
		content: '>';
		display: inline-block;
		margin-left: 4px;
		position: relative;
		top: 1px;
	}
	&:hover {
		text-decoration: underline;
	}
}

.awards {
	padding: 70px 0;
	&__title {
		text-align: center;
		margin: 0 0 50px;
		font: 300 30px $mont;
		color: #000;
		@media screen and (max-width: 470px) {
			font-size: 25px;
		}
	}
	&__list {
		text-align: center;
		&-item {
			margin: 0 40px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			img {
				transition: $transition;
			}
			&:hover img {
				opacity: .8;
			}
			@media screen and (max-width: 1200px) {
				margin: 0 25px;
			}
			@media screen and (max-width: 1000px) {
				margin: 0 25px 15px;
			}
			@media screen and (max-width: 470px) {
				margin: 0 auto 15px;
				display: block;
			}
		}
	}
	@media screen and (max-width: 470px) {
		padding: 50px 0;
	}
}

.portfolio {
	background: url(../img/portfolio-bg.png) center top no-repeat #191b21;
	padding: 150px 0;
	&__title {
		font: 900 55px/80px $mont;
		letter-spacing: -.077em;
		color: #fff;
		text-align: center;
		margin: 10px 0 60px;
		@media screen and (max-width: 470px) {
			font: 900 32px/40px $mont;
			margin-bottom: 35px;
		}
		span {
			padding: 0 30px;
			background-image: url(../img/portfolio-heading-l.png), url(../img/portfolio-heading-r.png);
			background-position: left bottom 25px, right bottom 25px;
			background-repeat: no-repeat;
			@media screen and (max-width: 470px) {
				padding: 0 45px;
				background-position: left bottom 15px,right bottom 10px;
			}
		}
	}
	&__subtitle {
		text-align: center;
		max-width: 780px;
		margin: auto;
		font: 20px/30px $hind;
		color: #fff;
		@media screen and (max-width: 470px) {
			font: 17px/26px $hind;
		}
	}
	@media screen and (max-width: 1370px) {
		padding: 60px 0;
		background-position: top -95px center;
	}
	@media screen and (max-width: 470px) {
		padding: 30px 0;
	}
}

.portfolio__col {
	width: 25%;
	float: left;
	@media screen and (max-width: 600px) {
		width: 100%;
	}
}

.portfolio__list {
	margin-top: 70px;
}

.portfolio__item {
	position: relative;
	padding: 35px;
	&-title {
		text-align: center;
		margin: 0 0 30px;
		color: #fff;
		font: 300 12px $mont;
		text-transform: uppercase;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
		box-shadow: 0 10px 18px rgba(0,0,0,.3);
		margin: auto;
	}
	@media screen and (max-width: 1370px) {
		padding: 20px;
	}
}

.portfolio__item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: $transition;
	&:hover {
		background: rgba(0, 0, 0, .3);
	}
}

.services {
	padding-top: 200px;
	padding-bottom: 150px;
	position: relative;
	overflow: hidden;
	@media screen and (max-width: 1830px) {
		padding-top: 120px;
	}
	@media screen and (max-width: 1200px) {
		padding: 70px 0;
	}
}

.services-layers {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@media screen and (max-width: 1830px) {
		right: -170px;
	}
	@media screen and (max-width: 1830px) {
		right: -270px;
	}
	@media screen and (max-width: 1200px) {
		right: -370px;
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.services-layer {
	position: absolute;
	bottom: 0;
	right: 0;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	&.layer2 {
		animation-delay: .8s;
		right: 560px;
	}
	&.layer3 {
		animation-delay: 1.2s;
		right: 780px;
	}
	@media screen and (max-width: 1830px) {
		& {
			img {
				max-width: 80%;
			}
		}
		&.layer2 {
			right: 520px;
		}
		&.layer3 {
			right: 720px;
		}
	}
	@media screen and (max-width: 1370px) {
		& {
			img {
				max-width: 90%;
			}
		}
		&.layer2 {
			right: 500px;
		}
		&.layer3 {
			right: 700px;
		}
	}
	@media screen and (max-width: 1200px) {
		& {
			img {
				max-width: 70%;
			}
		}
		&.layer2 {
			right: 460px;
		}


		&.layer3 {
			right: 600px;
		}
	}
}

.section-title--half {
	font: 300 48px/60px $mont;
	margin: 0;
	@media screen and (max-width: 1200px) {
		font: 300 40px/50px $mont;
	}
	@media screen and (max-width: 600px) {
		font: 300 30px/37px $mont
	}
}

.section-subtitle--half {
	font: 700 20px $hind;
	color: #4b4b4b;
	text-transform: uppercase;
	margin: 40px 0 40px 15px;
	span {
		color: #e97b60;
	}
	@media screen and (max-width: 1200px) {
		margin: 30px 0 30px 15px;
	}
	@media screen and (max-width: 600px) {
		font-size: 16px;
		margin-left: 0;
	}
}

.services__list {
	margin: 0 0 70px 15px;
	padding: 0;
	list-style-type: none;
	&-item {
		font: 300 20px/24px $hind;
		color: #808080;
		margin-bottom: 10px;
		padding-left: 40px;
		@media screen and (max-width: 1200px) {
			padding-left: 30px;
			font-size: 17px;
		}
	}
	@media screen and (max-width: 600px) {
		margin-left: 0;
		margin-bottom: 40px;
	}
}

.icon-arrow {
	background: url(../img/icon-arr.png) left top 5px no-repeat;
}

.col-half {
	width: 50%;
	max-width: 650px;
	float: left;
	position: relative;
	z-index: 1;
	&.align-right {
		float: right;
	}
	@media screen and (max-width: 1000px) {
		width: 100%;
		float: none;
		max-width: 100%;
	}
}

.standarts {
	position: relative;
	padding: 150px 0;
	background: url(../img/standarts-fish.png) bottom center no-repeat #fafafa;
	@media screen and (max-width: 1830px) {
		padding: 120px 0;
	}
	@media screen and (max-width: 1200px) {
		padding: 70px 0;
	}
}

.standarts__img {
	position: absolute;
	left: 0;
	top: 120px;
	max-width: 50%;
	padding-right: 50px;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
	@media screen and (max-width: 1000px) {
		position: static;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}
}

.why {
	background: #f7f7f7;
	padding: 120px 0;
	&-title {
		font: 300 60px $mont;
		color: #363636;
		margin: 0 0 100px;
		@media screen and (max-width: 1200px) {
			font-size: 40px;
			margin-bottom: 50px;
		}
		@media screen and (max-width: 470px) {
			font-size: 35px;
		}
	}
	@media screen and (max-width: 1830px) {
		padding: 80px 0;
	}
	@media screen and (max-width: 670px) {
		padding: 50px 0;
	}
}

.why__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&-item {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 30px;
		padding-right: 60px;
		&:nth-child(2n) {
			padding-right: 0;
			padding-left: 60px;
		}
		@media screen and (max-width: 1000px) {
			padding-right: 10px;
			&:nth-child(2n) {
				padding-right: 0;
				padding-left: 10px;
			}
		}
		@media screen and (max-width: 670px) {
			width: 100%;
			display: block;
			padding: 0;
			&:nth-child(2n) {
				padding: 0;
			}
		}
	}
	&-icon {
		width: 68px;
		height: 68px;
		float: left;
		background-color: #e97b60;
		background-position: center center;
		background-repeat: no-repeat;
		@media screen and (max-width: 470px) {
			float: none;
			margin: 0 0 20px;
		}
	}
	&-content {
		margin-left: 95px;
		@media screen and (max-width: 470px) {
			margin-left: 0;
		}
	}
	&-title {
		margin: 0 0 5px;
		font: 700 20px $hind;
		color: #4b4b4b;
		text-transform: uppercase;
		@media screen and (max-width: 470px) {
			line-height: 26px;
		}
	}
	&-description {
		font: 300 16px/26px $hind;
		color: #808080;
		margin: 0;
	}
}

.team {
	background: #252525;
	padding: 100px 0;
	.container {
		overflow: hidden;
	}
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	&-title {
		color: #fff;
		margin: 0 0 70px;
		font: 900 55px $mont;
		letter-spacing: -.077em;
	}
	&__list-item {
		position: relative;
		width: 20%;
		padding: 0 15px;
		margin-bottom: 30px;
		&--inner {
			position: relative;
		}
		&--hover {
			transition: $transition;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			padding: 0 30px;
			background: rgba(233, 123, 96, .95);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			&__inner {
				position: absolute;
				bottom: 30px;
				@media screen and (max-width: 1200px) {
					bottom: 15px;
				}
			}
			@media screen and (max-width: 1200px) {
				padding: 0 10px;
			}
		}

		&:hover &--hover {
			visibility: visible;
			opacity: 1;
		}
		&-contact {
			font: 300 12px $hind;
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&-name {
			margin: 0 0 15px;
			color: #fff;
			font: 300 18px $hind;
			@media screen and (max-width: 1200px) {
				line-height: 20px;
			}
		}
		&-job {
			font: 700 14px $hind;
			color: #fff;
			position: relative;
			padding-bottom: 15px;
			margin: 0 0 50px;
			&::after {
				content: '';
				position: absolute;
				width: 20px;
				height: 1px;
				background: #fff;
				left: 0;
				bottom: 0;
			}
			@media screen and (max-width: 1200px) {
				margin-bottom: 15px;
			}
		}
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
		i {
			position: absolute;
			top: 10px;
			right: 25px;
			width: 25px;
			height: 25px;
			display: block;
			&.ceo {
				background: url(../img/ceo-icon.png) center center no-repeat;
			}
			&.design {
				background: url(../img/design-icon.png) center center no-repeat;
			}
			&.coder {
				background: url(../img/coder-icon.png) center center no-repeat;
			}
		}
		@media screen and (max-width: 1000px) {
			width: 33.333%;
		}
		@media screen and (max-width: 600px) {
			width: 50%;
		}
		@media screen and (max-width: 470px) {
			padding: 0 10px;
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width: 1830px) {
		padding: 80px 0;
	}
	@media screen and (max-width: 600px) {
		padding: 50px 0 20px;
	}
}

.reviews {
	padding: 100px 0;
	background: #f1f1f1;
	.container {
		overflow: hidden;
	}
	@media screen and (max-width: 1000px) {
		padding: 50px 0 0;
		&-title {
			font-size: 45px;
			margin-bottom: 50px;
		}
	}
}

.reviews__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -15px;
	&-item {
		width: 25%;
		padding: 45px 15px 0px;
		margin-bottom: 50px;
		position: relative;
		&::before {
			content: '';
			background: url(../img/reviews-upper-quote.png) no-repeat;
			width: 21px;
			height: 14px;
			position: absolute;
			top: 0;
			left: 15px;
		}
		@media screen and (max-width: 1000px) {
			width: 33.333%;
		}
		@media screen and (max-width: 670px) {
			width: 50%;
		}
		@media screen and (max-width: 470px) {
			width: 100%;
		}
	}
}

.reviewer-logo {
	height: 150px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.reviewer-name {
	font: 300 19px $hind;
	color: #000;
	margin: 20px 0;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.reviwere-text {
	margin: 0;
	font: 300 16px/24px $hind;
	color: #747474;
	position: relative;
	padding-bottom: 20px;
	&::after {
		content: '';
		background: url(../img/reviews-down-quote.png) no-repeat;
		width: 12px;
		height: 8px;
		display: inline-block;
		margin-left: 25px;
		position: relative;
		top: 10px;
	}
}

.contacts {
	padding: 130px 0 70px;
	position: relative;
	&__inner {
		position: relative;
		z-index: 1;
		padding: 65px 145px 90px;
		max-width: 630px;
		background: #da7056;
		background: -moz-linear-gradient(top,  #da7056 0%, #d86e54 1%, #d86e56 2%, #d76d53 2%, #d76d55 4%, #d66c52 4%, #d56d54 6%, #d46c51 6%, #d0684f 13%, #cc664d 14%, #cd674e 15%, #c05e45 27%, #bf5d44 31%, #bd5a45 31%, #bc5a41 32%, #ba5a44 33%, #b85840 34%, #b4563d 43%, #b1533a 46%, #b1523e 48%, #b1533a 49%, #b0513d 50%, #af5138 52%, #af503c 52%, #af503a 55%, #ac523a 55%, #af503a 55%, #aa4e37 65%, #a64c34 100%);
		background: -webkit-linear-gradient(top,  #da7056 0%,#d86e54 1%,#d86e56 2%,#d76d53 2%,#d76d55 4%,#d66c52 4%,#d56d54 6%,#d46c51 6%,#d0684f 13%,#cc664d 14%,#cd674e 15%,#c05e45 27%,#bf5d44 31%,#bd5a45 31%,#bc5a41 32%,#ba5a44 33%,#b85840 34%,#b4563d 43%,#b1533a 46%,#b1523e 48%,#b1533a 49%,#b0513d 50%,#af5138 52%,#af503c 52%,#af503a 55%,#ac523a 55%,#af503a 55%,#aa4e37 65%,#a64c34 100%);
		background: linear-gradient(to bottom,  #da7056 0%,#d86e54 1%,#d86e56 2%,#d76d53 2%,#d76d55 4%,#d66c52 4%,#d56d54 6%,#d46c51 6%,#d0684f 13%,#cc664d 14%,#cd674e 15%,#c05e45 27%,#bf5d44 31%,#bd5a45 31%,#bc5a41 32%,#ba5a44 33%,#b85840 34%,#b4563d 43%,#b1533a 46%,#b1523e 48%,#b1533a 49%,#b0513d 50%,#af5138 52%,#af503c 52%,#af503a 55%,#ac523a 55%,#af503a 55%,#aa4e37 65%,#a64c34 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da7056', endColorstr='#a64c34',GradientType=0 );
		@media screen and (max-width: 1200px) {
			padding: 65px 80px 90px;
			max-width: 570px;
		}
		@media screen and (max-width: 1000px) {
			max-width: 500px;
			padding: 30px 40px 50px;
		}
		@media screen and (max-width: 670px) {
			max-width: 100%;
			padding: 20px 20px 30px;
		}

	}
	&__title {
		font: 900 55px/55px $mont;
		color: #fff;
		margin: -45px 0 15px;
		letter-spacing: -.077em;
		text-align: center;
		@media screen and (max-width: 670px) {
			font: 900 30px/30px $mont;
			margin-top: -25px;
		}
	}
	&__form {
		margin-top: 80px;
		@media screen and (max-width: 670px) {
			margin-top: 40px;
		}
	}
	&__map {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media screen and (max-width: 670px) {
		padding: 50px 0 0;
		&__map {
			position: static;
			height: 600px;
			width: 100%;
		}
		.container {
			padding: 0;
		}
	}
}

.contacts__form-row {
	position: relative;
	margin-bottom: 20px;
}

.contacts__form-input {
	display: block;
	width: 100%;
	height: 40px;
	border: none;
	outline: 0;
	background: transparent;
	padding-left: 15px;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	font: 300 15px $hind;
	color: #fff;
	&.contacts__form-message {
		resize: none;
		padding-top: 9px;
	}
	&::-webkit-input-placeholder {
		color: rgba(255, 255, 255, .4);
	}
	&::-moz-placeholder {
		color: rgba(255, 255, 255, .4);
	}
	&:-ms-input-placeholder {
		color: rgba(255, 255, 255, .4);
	}
	&:focus {
		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 1);
		}
		&::-moz-placeholder {
			color: rgba(255, 255, 255, 1);
		}
		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, 1);
		}
		& ~ .animated-border::before,
		& ~ .animated-border::after {
			width: 50%;
			transition: 0.4s;
		}
	}
}


.animated-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 99;
	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: #fff;
		transition: 0.4s;
	}
	&::after {
		left: auto;
		right: 0;
	}
}

.footer-logo {
	margin:  auto;
	display: block;
	max-width: 100%;
	height: auto;
	@media screen and (max-width: 670px) {
		max-width: 80%;
	}
}

.send-btn {
	width: 130px;
	line-height: normal;
	cursor: pointer;
	margin: 70px auto 0;
	@media screen and (max-width: 670px) {
		margin-top: 30px;
	}
}

.footer {
	background: #131e27;
	padding: 40px;
	@media screen and (max-width: 1000px) {
		padding: 40px 20px;
	}
	@media screen and (max-width: 470px) {
		padding: 20px;
	}
}

.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	&-item {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		display: block;
		float: left;
		margin: 0 5px;
		transition: $transition;
		a {
			height: 100%;
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&.fb {
			background: #696969;
			a {
				background-image: url(../img/fb-footer.png);
			}
			&:hover {
				background: #3b5998;
			}
		}
		&.twit {
			background: #a1a1a1;
			a {
				background-image: url(../img/twit-footer.png);
			}
			&:hover {
				background: #55acee;
			}
		}
		&.gplus {
			background: #8e8e8e;
			a {
				background-image: url(../img/gplus-footer.png);
			}
			&:hover {
				background: #dc4e41;
			}
		}
		&.yelp {
			background: #dcdcdc;
			a {
				background-image: url(../img/footer-yelp.png);
			}
			&:hover {
				background: #fff;
				a {
					background-image: url(../img/footer-yelp--hover.png);
				}
			}
		}
	}
	@media screen and (max-width: 670px) {
		float: none;
		text-align: center;
		&-item {
			display: inline-block;
			float: none;
		}
	}
}

.copyright {
	float: right;
	text-align: right;
	@media screen and (max-width: 670px) {
		float: none;
		text-align: center;
		margin-top: 10px;
	}
}

.copyright__text {
	margin: 0;
	font: 300 14px $hind;
	color: #8b97a0;
}

.address {
	margin: 0;
	font: 300 10px $hind;
	color: #8b97a0;
	a {
		color: #8b97a0;
	}
}

.main-menu__wrapper {
	position: fixed;
	right: 0;
	height: 100%;
	width: 250px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0 10px 21px rgba(0, 0, 0, 0.15);
	transform: translateX(250px);
	transition: $transition;
	opacity: 0;
	visibility: hidden;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	&.visible {
		transform: translateX(0px)
	}
}

.main-menu__inner {
	padding-top: 30px;
	padding-right: 50px;
	text-align: right;
	position: relative;
}

.main-menu__control {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 1px;
	bottom: 100px;
	border: 2.4em solid transparent;
	border-color: transparent transparent #fff #fff;
	transform-origin: 0 0;
	transform: rotate(45deg);
	box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.04);
}

.main-menu__close {
	position: absolute;
	top: 5px;
	left: -25px;
	transform: rotate(-45deg);
	span {
		display: block;
		height: 4px;
		border-radius: 2px;
		background: #707070;
		width: 24px;
		margin-bottom: 3px;
		opacity: .7;
	}
	&:hover {
		span {
			opacity: 1;
		}
	}
	&.visible {
		span {
			margin: 0;
			position: relative;
			left: -5px;
		}
		span:last-child {
			display: none;
		}
		span:first-child {
			transform: rotate(45deg);
			top: 4px;
		}
		span:nth-child(2) {
			transform: rotate(-45deg);
		}
	}
}

.menu__logo {
	display: inline-block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 50px;
}

.main__nav {
	text-align: right;
	&-item {
		font: 300 12px $mont;
		color: #7e7e7e;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		margin-bottom: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.protfolio-menu__wrapper {
	width: 20%;
	float: left;
	.main-menu__control {
		display: none;
	}
	@media screen and (max-width: 1000px) {
		position: fixed;
		right: 0;
		height: 100%;
		width: 250px;
		background: #fff;
		z-index: 8;
		box-shadow: 0 10px 21px rgba(0,0,0,.15);
		transform: translateX(250px);
		transition: all .3s ease-in-out;
		z-index: 99999;
		float: none;
		.main-menu__control {
			display: block;
		}
		&.visible {
			transform: translateX(0px);
		}
	}
}



.portfolio-page__content {
	margin-left: 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media screen and (max-width: 1000px) {
		margin: 0;
	}
}

.portfolio-page__item--content {
	position: absolute;
	width: 100%;
	left: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 2;
	padding: 40px 40px 28px;
	box-sizing: border-box;
	color: #fff;
	bottom: 0;
	transform: translateY(100%);
	transition: transform .2s ease-in-out;
	@media screen and (max-width: 470px) {
		padding: 25px 25px 18px;
	}
}



.portfolio-page__item {
	width: 50%;
	overflow: hidden;
	position: relative;
	backface-visibility: hidden;
	&--thumb {
		display: block;
		max-width: 100%;
		height: auto;
		transition: transform .5s ease-in-out;
		transform: scale(1);
	}
	&:hover {
		.portfolio-page__item--thumb {
			transform: scale(1.1);
			transition: transform .5s ease-in-out;
		}
		.portfolio-page__item--content {
			transition: transform .5s ease-in-out;
			transform: translateY(0);
		}
	}
	.full-link {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		top: 0;
		left: 0;
	}
	.btn {
		z-index: 11;
		position: relative;
	}
	@media screen and (max-width: 670px) {
		width: 100%;
	}
}



.portfolio-page__menu {
	position: fixed;
	left: 0;
	padding-right: 0;;
	padding-left: 50px;
	text-align: left;
	.main__nav {
		text-align: left;
		padding-left: 10px;
	}
	@media screen and (max-width: 1200px) {
		width: 20%;
		padding-left: 10px;
	}
	@media screen and (max-width: 1000px) {
		width: 100%;
		position: relative;
		padding-left: 50px;
	}
}

.portfolio-page__item--title {
	margin: 0;
	font: 300 22px $mont;
	@media screen and (max-width: 470px) {
		font-size: 18px;
	}
}

.portfolio-page__item--tags {
	font: 300 16px/24px $hind;
	@media screen and (max-width: 470px) {
		font-size: 14px;
	}
}

.single-portfolio__top {
	background: #131c1f;
	&.cloned {
		position: fixed;
		top: 0;
		transform: translateY(-100%);
		transition: transform .6s ease-in-out;
		&.visible {
			transform: translateY(0);
		}
	}
}

.single-portfolio__heading {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 20px 0;
	max-width: 1140px;
	margin: auto;
	align-items: center;
	&--col {
		width: 50%;
		padding-right: 20px;
		&:last-child {
			padding-right: 0;
			padding-left: 20px;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
			padding: 0;
			&:last-child {
				padding: 0;
				margin-top: 30px;
			}
		}
	}
	@media screen and (max-width: 600px) {
		flex-wrap: wrap;
	}
}

.single-portfolio {
	.single__title {
		font: 300 30px $mont;
		color: #fff;
		margin: 0 0 20px;
	}
	.single__description {
		color: #ababab;;
		font: 300 16px $hind;
	}
	.single__tags {
		span {
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 13px 0;
			border: 1px solid #ece7f4;
			border-radius: 10px;
			padding: 4px 17px;
			color: #fff;
			font: 300 15px $hind;
		}
	}
	.single__image {
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.single__thanks {
	text-align: center;
	padding: 30px 15px 50px;
	background: #131c1f;
	&-title {
		margin: 0 0 20px;
		color: #fff;
		font: 300 24px $mont;
	}
	.btn {
		margin: auto;
	}
}




















