extends _layout
block content
	.main-menu__wrapper
		.main-menu__inner.cf
			.main-menu__control
				a.main-menu__close(href="#")
					span
					span
					span
			img.menu__logo(src="img/menu-logo.png", alt="")
			nav.main__nav
				a.main__nav-item.js--scrollto__link(href="#services") Services
				a.main__nav-item.js--scrollto__link(href="#portfolio") portfolio
				a.main__nav-item.js--scrollto__link(href="#about") About Us
				a.main__nav-item.js--scrollto__link(href="#team") Team
				a.main__nav-item.js--scrollto__link(href="#contacts") Contact us
	section.promo.ie-extra-wrapper
		.promo__inner
			a.promo__logo.animated(href="#")
				img(src="img/logo.png", alt="")
			nav.promo__menu.animated
				a.promo__menu-link.js--scrollto__link(href="#services") Services
				a.promo__menu-link.js--scrollto__link(href="#portfolio") Portfolio
				a.promo__menu-link.js--scrollto__link(href="#about") About Us
				a.promo__menu-link.js--scrollto__link(href="#team") Team
				a.promo__menu-link.js--scrollto__link(href="#contacts") Contact us
			.promo__hello
				h2.promo__title Take your 
					span.colored.animated Online
					br
					span.colored.animated business to
					| the<br>next
					span.colored.animated level
				p.promo__subtitle.animated Conversion Driven Design
					span.delimiter I
					| Custom Functionality
					span.delimiter I
					| Explosive Marketing
				//- a.open-popup(href="#" data-open="big-popup") OPEN BIG
				//- a.open-popup(href="#" data-open="small-popup") OPEN SMALLL
			#services
				.promo__tabs.animated
					.promo__tab.active-tab
						span Web Development
					.promo__tab
						span Responsive Web-sites
					.promo__tab
						span Graphic Design
					.promo__tab
						span Digital Marketing
					.promo__tab
						span Mobile App
				.promo__mobile--tabs-wrapper
					select.promo__mobile--tabs
						option(value="") Web Development
						option(value="") Responsive Web-sites
						option(value="") Graphic Design
						option(value="") Digital Marketing
						option(value="") Mobile App
	section.tabs
		.tab.cf.is-visible
			.container
				h1.tab__title.animated.wow.fadeInUp.tab-fade NY WEB DESIGN, WEB DEVELOPMENT & BRANDING COMPANY
				h4.tab__subheading.tab-fade.animated We Specialize in creating:
				ul.tabs__list.cf
					li.tab__development.tabs__list-item.tabs__list-item--fourth.animated.wow.fadeInUp.tab-fadeup
						.tab__development-img
							img(src="img/corporate.png", alt="")
						h2.tab__development-title Corporate Website Design
						a.btn.btn--transparent(href="#") Read more
						a.full-link(href="#")
						.tab__development-full
							span.tab__development-full__close
							.tab__development-full__img
								img(src="img/Corporate-tab.png", alt="")
							h2.tab__development-full__title Corporate Website Design
							p.tab__development-full__text We pride ourselves on making bespoke corporate websites that are original and unique. From custom illustrations to hand drawn icon sets our graphic designs are of the highest quality and we wouldn’t have any other way.
							a.tab__development-full__link.open-popup(href="#" data-open="small-popup") Learn more

					li.tab__development.tabs__list-item.tabs__list-item--fourth.animated.wow.fadeInUp.tab-fadeup
						.tab__development-img
							img(src="img/landing.png", alt="")
						h2.tab__development-title Landing Pages
						a.btn.btn--transparent(href="#") Read more
						a.full-link(href="#")
						.tab__development-full
							span.tab__development-full__close
							.tab__development-full__img
								img(src="img/landing-tab.png", alt="")
							h2.tab__development-full__title Landing Pages
							p.tab__development-full__text Are you planning to launch a new product or service or have a new unique offer? We can build you a custom landing page to make your launch successful.
							a.tab__development-full__link.open-popup(href="#" data-open="small-popup") Learn more

					li.tab__development.tabs__list-item.tabs__list-item--fourth.animated.wow.fadeInUp.tab-fadeup
						.tab__development-img
							img(src="img/WooCommerce.png", alt="")
						h2.tab__development-title Ecommerce Websites
						a.btn.btn--transparent(href="#") Read more
						a.full-link(href="#")
						.tab__development-full
							span.tab__development-full__close
							.tab__development-full__img
								img(src="img/ecommerce-tab.png", alt="")
							h2.tab__development-full__title Ecommerce Websites
							p.tab__development-full__text We offer well crafted, perfectly optimized, feature rich ecommerce solutions based on in depth analysis of your competition, your audience and your industry.
							a.tab__development-full__link.open-popup(href="#" data-open="small-popup") Learn more

					li.tab__development.tabs__list-item.tabs__list-item--fourth.animated.wow.fadeInUp.tab-fadeup
						.tab__development-img
							img(src="img/WebPortals.png", alt="")
						h2.tab__development-title Custom Web Development
						a.btn.btn--transparent(href="#") Read more
						a.full-link(href="#")
						.tab__development-full
							span.tab__development-full__close
							.tab__development-full__img
								img(src="img/development-tab.png", alt="")
							h2.tab__development-full__title Custom Web Development
							p.tab__development-full__text We specialize in complex functionality to address your growing business needs. When you need to create a truly custom solution you can count on us to be your team.
							a.tab__development-full__link.open-popup(href="#" data-open="small-popup") Learn more
		.tab.cf
			.container
				h2.tab__title.tab-fade.animated We develop modern & quality products, like....
				h4.tab__subheading.tab-fade.animated Statistics
				p.tab__subtitle.tab-fade.animated  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				ul.tabs__list.cf
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab2-i1.png)")
						.tabs__list-content
							p.tabs__list-heading Greater efficiency SMM efficiency
							p.tabs__list-txt Responsive design allows you to cover the entire audience on the Internet. PC or laptop, any smartphone or tablet, the site solves problems of your business with the same efficiency.
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab2-i2.png)")
						.tabs__list-content
							p.tabs__list-heading Greater efficiency SMM efficiency
							p.tabs__list-txt Responsive design allows you to cover the entire audience on the Internet. PC or laptop, any smartphone or tablet, the site solves problems of your business with the same efficiency.
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab2-i3.png)")
						.tabs__list-content
							p.tabs__list-heading Greater efficiency SMM efficiency
							p.tabs__list-txt Responsive design allows you to cover the entire audience on the Internet. PC or laptop, any smartphone or tablet, the site solves problems of your business with the same efficiency.
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab2-i4.png)")
						.tabs__list-content
							p.tabs__list-heading Greater efficiency SMM efficiency
							p.tabs__list-txt Responsive design allows you to cover the entire audience on the Internet. PC or laptop, any smartphone or tablet, the site solves problems of your business with the same efficiency.
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab2-i5.png)")
						.tabs__list-content
							p.tabs__list-heading Greater efficiency SMM efficiency
							p.tabs__list-txt Responsive design allows you to cover the entire audience on the Internet. PC or laptop, any smartphone or tablet, the site solves problems of your business with the same efficiency.
				a.btn.btn--colored.open-popup(href="#" data-open="big-popup") Learn more
		.tab.cf
			.container
				h2.tab__title.tab-fade.animated We develop modern & quality products, like1....
				p.tab__subtitle.tab-fade.animated Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				ul.tabs__list.cf
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i1.png)")
						.tabs__list-content
							p.tabs__list-heading Web-design
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i2.png)")
						.tabs__list-content
							p.tabs__list-heading Corporate branding
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i3.png)")
						.tabs__list-content
							p.tabs__list-heading Сorporate identity
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i4.png)")
						.tabs__list-content
							p.tabs__list-heading Consumer branding
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i5.png)")
						.tabs__list-content
							p.tabs__list-heading Infographics and animation
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i6.png)")
						.tabs__list-content
							p.tabs__list-heading Motion design
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i7.png)")
						.tabs__list-content
							p.tabs__list-heading Package design
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab3-i8.png)")
						.tabs__list-content
							p.tabs__list-heading Print Design
				a.btn.btn--colored.open-popup(href="#" data-open="big-popup") Learn more
		.tab.cf
			.container
				h2.tab__title.tab-fade.animated We develop modern & quality products, like2....
				p.tab__subtitle.tab-fade.animated Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				ul.tabs__list.cf
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i1.png)")
						.tabs__list-content
							p.tabs__list-heading Web-Analytics & Usability
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i2.png)")
						.tabs__list-content
							p.tabs__list-heading SEO
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i3.png)")
						.tabs__list-content
							p.tabs__list-heading SEM
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i4.png)")
						.tabs__list-content
							p.tabs__list-heading SMM
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i5.png)")
						.tabs__list-content
							p.tabs__list-heading PAID SEARCH
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i6.png)")
						.tabs__list-content
							p.tabs__list-heading CONTENT MARKETING
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i7.png)")
						.tabs__list-content
							p.tabs__list-heading REPUTATION MANAGEMENT
					li.cf.tabs__list-item.tabs__list-item--fourth.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab4-i8.png)")
						.tabs__list-content
							p.tabs__list-heading Consulting
				a.btn.btn--colored.open-popup(href="#" data-open="big-popup") Learn more
		.tab.cf
			.container
				h2.tab__title.tab-fade.animated We develop modern & quality products, like3....
				p.tab__subtitle.tab-fade.animated Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				ul.tabs__list.cf
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i1.png)")
						.tabs__list-content
							p.tabs__list-heading Native development for iOS, Android and Windows Phone
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i2.png)")
						.tabs__list-content
							p.tabs__list-heading Cross platform development using Xamarin
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i3.png)")
						.tabs__list-content
							p.tabs__list-heading Complex high load back-end solutions
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i4.png)")
						.tabs__list-content
							p.tabs__list-heading Architecture planning and analysis of requirements
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i5.png)")
						.tabs__list-content
							p.tabs__list-heading Integration of mobile applications into existing IT systems
					li.cf.tabs__list-item.tabs__list-item--third.animated.tab-fadeup
						.tabs__list-icon(style="background-image: url(img/tab5-i6.png)")
						.tabs__list-content
							p.tabs__list-heading Porting existing mobile applications to new platforms
				a.btn.btn--colored.open-popup(href="#" data-open="big-popup") Learn more
					
	section.awards
		.container
			h2.awards__title.animated.fadeInUp.wow Award Winning Top Reviewed Company
			.awards__list
				a.awards__list-item.wow.animated.fadeIn(href="#")
					img(src="img/10-best-design-logo.png", alt="")
				a.awards__list-item.wow.animated.fadeIn(href="#")
					img(src="img/Google.png", alt="")
				a.awards__list-item.wow.animated.fadeIn(href="#")
					img(src="img/Yelp_Logo.png", alt="")
				a.awards__list-item.wow.animated.fadeIn(href="#")
					img(src="img/upwork-logo.png", alt="")
				a.awards__list-item.wow.animated.fadeIn(href="#")
					img(src="img/UpCity_Logo.png", alt="")
	section#portfolio.portfolio
		h2.portfolio__title.wow.animated.fadeInUp
			span PORTFOLIO
		p.portfolio__subtitle.wow.animated.fadeInUp We have vast experience working with various industries from non profits and government contractors to investment firms and manufacturing
		.portfolio__list.cf
			.portfolio__col
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #272a2d")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port1.jpg", alt="")
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #e24242")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port2.jpg", alt="")
			.portfolio__col
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #f7941d")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port3.jpg", alt="")
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #2e529d")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port4.jpg", alt="")
			.portfolio__col
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #f26c4f")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port2.jpg", alt="")
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #272a2d")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port1.jpg", alt="")
			.portfolio__col
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #d8eff5")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port3.jpg", alt="")
				.portfolio__item.wow.animated.fadeInUp(style="background-color: #9352c1")
					a.portfolio__item-link(href="#")
					p.portfolio__item-title Agency Jet
					img(src="img/portfolio/port4.jpg", alt="")
		a.btn.btn--colored(href="#") View all
	section.services
		.container.cf
			.col-half
				h2.section-title--half.wow.animated.fadeInUp Urgent website improvement services
				p.section-subtitle--half.wow.animated.fadeInUp Is your website in a desperate need of an 
					span effective facelift?
				ul.services__list.wow.animated.fadeInUp
					li.services__list-item.icon-arrow Does it have proper call to action placement?
					li.services__list-item.icon-arrow Is design based on heat map analysis?
					li.services__list-item.icon-arrow Are your value propositions properly highlighted?
					li.services__list-item.icon-arrow Is information is effectively delivered?
					li.services__list-item.icon-arrow Is customer communication facilitated and encouraged?
				a.btn.btn--colored.wow.animated.fadeInUp.open-popup(href="#" data-open="big-popup") Read more
			.services-layers.animated.slideInRight.wow
				.layer3.services-layer.animated.slideInRight.wow
					img(src="img/layer3.png", alt="")
				.layer2.services-layer.animated.slideInRight.wow
					img(src="img/layer2.png", alt="")
				.layer1.services-layer
					img(src="img/layer1.png", alt="")
	section.standarts
		.container.cf
			.standarts__img.wow.animated.fadeInLeft
				img(src="img/standarts-img.jpg", alt="")
			.col-half.align-right
				h2.section-title--half.wow.animated.fadeInUp Does it even comply with the current web standards?
				p.section-subtitle--half.wow.animated.fadeInUp Is your website in a desperate need of an 
					span effective facelift?
				ul.services__list.wow.animated.fadeInUp
					li.services__list-item.icon-arrow Is it mobile optimized for every device?
					li.services__list-item.icon-arrow Does it pass W3C validation for any critical code errors?
					li.services__list-item.icon-arrow Is it optimized to load fast for better user experience?
					li.services__list-item.icon-arrow Is it cross browser and cross platform compatible so you don't miss any potential customers?
				a.btn.btn--black.wow.animated.fadeInUp.open-popup(href="#" data-open="big-popup") Read more
	section#about.why
		.container
			h2.why-title.wow.animated.fadeInUp So Why Work with Us?
			ul.why__list.cf
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why1.png)")
					.why__list-content
						p.why__list-title Flowless job history
						p.why__list-description (This kind of claim does count for something, right?) Over 200 reviews on these respectable platforms - don't trust us, trust them!
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why2.png)")
					.why__list-content
						p.why__list-title One stop shop... 
						p.why__list-description ...offering top quality, unique design, custom dev solutions and effective online marketing (Psst some of us brew beer and make mean beef jerky too1)
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why3.png)")
					.why__list-content
						p.why__list-title Incredible portfolio
						p.why__list-description (We love to brag about it while looking forward to hearing your thoughts on the matter Let us know if we're as good as we say!)
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why4.png)")
					.why__list-content
						p.why__list-title Peace of mind...
						p.why__list-description ...with our bulletproof warranty, free training and ongoing support (Yep, that is true No bs)
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why5.png)")
					.why__list-content
						p.why__list-title We speak YOUR language in YOUR timezone
						p.why__list-description (Our Cofee machine is strong and Our Google translate skills are impeccable Give us a try, Gaijin<)
				li.why__list-item.cf.wow.animated.fadeInUp
					.why__list-icon(style="background-image: url(img/why6.png)")
					.why__list-content
						p.why__list-title Strong team... 
						p.why__list-description ...of 35 world-class experts ready to make your every wish come true (Whether you want us to always be there for you OR disappear after one awe-inspiring project - We will obey you, master)
	section#team.team
		.container
			h2.team-title.wow.animated.fadeInUp OUR TEAM
			.team__list
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.ceo
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.ceo
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.ceo
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.design
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							
				.team__list-item.wow.animated.fadeInUp
					.team__list-item--inner
						.team__list-item--front.team__list--side
							i.coder
							img(src="img/team-example.jpg", alt="")
						.team__list-item--back.team__list--side
							img(src="img/team-example.jpg", alt="")
							.overlay
							.team__list-item--back__inner
								p.team__list-item-name Alexander Zolotarevsky
								p.team__list-item-job CEO Manager
								a.team__list-item-contact.open-popup(href="#" data-open="small-popup") CONTACT
							

	section.reviews
		.container
			.reviews__list#reviews__list
				.reviews__list-item.wow.animated.fadeInUp
					.reviewer-logo
						img(src="img/reviewr1.jpg", alt="")
					p.reviewer-name 3D Maker Supply, Andrew R
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .2s")
					.reviewer-logo
						img(src="img/reviewer2.jpg", alt="")
					p.reviewer-name Aether Pal, David F
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adeprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .4s")
					.reviewer-logo
						img(src="img/reviewer3.jpg", alt="")
					p.reviewer-name 3Software Platform, Bob S
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .6s")
					.reviewer-logo
						img(src="img/reviewer4.jpg", alt="")
					p.reviewer-name 3Software Platform, Bob Y
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .2s")
					.reviewer-logo
						img(src="img/reviewr1.jpg", alt="")
					p.reviewer-name 3D Maker Supply, Andrew R
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .4s")
					.reviewer-logo
						img(src="img/reviewer2.jpg", alt="")
					p.reviewer-name Aether Pal, David F
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adeprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .6s")
					.reviewer-logo
						img(src="img/reviewer3.jpg", alt="")
					p.reviewer-name 3Software Platform, Bob S
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni.
				.reviews__list-item.wow.animated.fadeInUp(style="animation-delay: .8s")
					.reviewer-logo
						img(src="img/reviewer4.jpg", alt="")
					p.reviewer-name 3Software Platform, Bob Y
					p.reviwere-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni.
			a.btn.btn--colored.load-more-reviews(href="#") View more
	section#contacts.contacts
		.container
			.contacts__inner
				img.footer-logo(src="img/footer-logo.png", alt="")
				h2.contacts__title CONTACT US
				form.contacts__form
					.contacts__form-row
						input.contacts__form-input(type="text" placeholder="Name")
						span.animated-border
					.contacts__form-row
						input.contacts__form-input(type="email" placeholder="Email")
						span.animated-border
					.contacts__form-row
						input.contacts__form-input(type="tel" placeholder="Phone")
						span.animated-border
					.contacts__form-row
						textarea.contacts__form-input.contacts__form-message(placeholder="Message")
						span.animated-border
					button.btn--black.btn.send-btn Send
		.contacts__map#map
	section.footer.cf
		ul.social.cf
			li.social-item.fb
				a(href="#")
			li.social-item.twit
				a(href="#")
			li.social-item.gplus
				a(href="#")
			li.social-item.yelp
				a(href="#")
		.copyright
			p.copyright__text Copyright © 2016 Beluga Labs. All Rights Reserved.
			p.address Beluga Labs, 244 5th Avenue Suite 2642, New York, NY 10001, 1-855-823-5842, 
				a(href="#") BelugaLab.com
	.popup#big-popup
		span.close-popup
		.popup__form-wrapper
			p.popup__form-title Completely FREE No Obligation Analysis ...
			form.popup__form
				.contacts__form-row
					input.contacts__form-input(type="text" placeholder="Name")
					span.animated-border
				.contacts__form-row
					input.contacts__form-input(type="email" placeholder="Email")
					span.animated-border
				button.btn--colored.btn.send-btn Send
		.popup-bg
			img(src="img/popup.png", alt="")

	.popup#small-popup
		span.close-popup
		.contacts__inner
			img.footer-logo(src="img/footer-logo.png", alt="")
			h2.contacts__title CONTACT US
			form.contacts__form
				.contacts__form-row
					input.contacts__form-input(type="text" placeholder="Name")
					span.animated-border
				.contacts__form-row
					input.contacts__form-input(type="email" placeholder="Email")
					span.animated-border
				.contacts__form-row
					input.contacts__form-input(type="tel" placeholder="Phone")
					span.animated-border
				.contacts__form-row
					textarea.contacts__form-input.contacts__form-message(placeholder="Message")
					span.animated-border
				button.btn--black.btn.send-btn Send





























block inlineScripts