extends _layout
block content
	section.single-portfolio.cf
		.single-portfolio__content#single-portfolio
			.single-portfolio__top
				.container
					.single-portfolio__heading
						.single-portfolio__heading--col
							h2.single__title PASOKIN
							p.single__description Promo site and e-commerce Unica Foods LLC Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							a.btn.btn--colored(href="#") View Web Site
						.single-portfolio__heading--col
							.single__tags
								span Design
								span Promo
								span Lorem
								span Unica
								span Foods
								span ipsum
								span e-commerce
								span consectetur
								span elit
			.single__image
				img(src="img/portfolio/full/pasokin.png", alt="")
			.single__thanks
				p.single__thanks-title Thanks for watching
				a.btn.btn--colored(href="#") I want the same

	
	section.footer.cf
		ul.social.cf
			li.social-item.fb
				a(href="#")
			li.social-item.twit
				a(href="#")
			li.social-item.gplus
				a(href="#")
			li.social-item.yelp
				a(href="#")
		.copyright
			p.copyright__text Copyright © 2016 Beluga Labs. All Rights Reserved.
			p.address Beluga Labs, 244 5th Avenue Suite 2642, New York, NY 10001, 1-855-823-5842, 
				a(href="#") BelugaLab.com














block inlineScripts