extends _layout
block content
	div.wrap
		div.hyp
			div.hyp
				div.hyp
					div.hyp
						div.hyp
							div.hyp
								div.hyp
									div.hyp
										div.hyp
											div.hyp
												div.hyp
													div.hyp
														div.hyp
															div.hyp
																div.hyp
																	div.hyp
	h1.or ЗАКАЖИ САЙТ, СУКА!
		span BelugaLabs, мы заботимся о Вас.

	style.
		.or {
			position: absolute;
			top: 80%;
			text-align: center;width: 100%;
			left: 0;
		}
		.or span {
			display: block;
			font-size: 15px;
			font-weight: 300;
		}
		.wrap {
			position: absolute;
			top: calc(50vh - 222px);
			left: calc(50vw - 222px);
			transform: rotateZ(-45deg);
			width: 444px;
			height: 444px;
			overflow: hidden;
		}

		div > .hyp {
			border-radius: 50%;
			border: 12px solid #000;
			border-color: #000 #000 transparent transparent;
			padding: 2px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			animation: roll 15s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

		div:empty {
		padding: 0;
		}

		@keyframes roll {
		to {
		transform: rotateZ(360deg);
		}
		}












block inlineScripts